#ignore .pyc files:
*.pyc
#ignore stat.py as I have no idea what it is
stats.py
#ignore files with "~" ending
*~
\#*\#
#ignore executables and output csv files
voterModelAlphaInitDist
getOuttaHere
reportData/
*.csv
#ignore object files
*.o
#ignore jpgs
#don't ignore jpgs
#ignore v5 folders
v5randomIeqJ/*
v5randomIneqJ/*
v5same/*
#latex garbage
*.aux
*.blg
*.bbl
*.log
